header{
    background-color: #192431; 
}
.header-container{
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
h1{
    color: white;
    list-style: none;
}
h2{
    color: #F9FAF8;
    font-size: 48px;
    font: bolder;
}
.leftlink{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

}
.rightlink {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    gap: 10px;
  }
li{
    color: white;
  }
p{
    color: white;
  }

.hero-container{
    width: 100px;
    display: flex;
    flex-flow: column;
}
.hero-title{
    text-wrap: wrap;
    width: 400px;
}
.button{
    width: 30px;
    height: 30px;
}